* {box-sizing: border-box}

/* Set height of body and the document to 100% */
body, html {
  height: 100%;
  margin: 0;
  font-family: Arial;
}
 header{
	 position: center;
	 background-color: 'light green';
 }
/* Style tab links */
.tablink {
  background-color: #555;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  width: 25%;
}

.tablink:hover {
  background-color: #777;
}

.tabcontent{
  color: white;
  display: none;
  padding: 100px 20px;
  height: 100%;
}

#Home {background-color: yellow;}
#News {background-color: green;}
#Contact {background-color: blue;}
#About {background-color: red;}
